/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2015, 5:00:11 PM
*/

body {
    padding: 0;
    margin: 0;
}

.page {
    background-color: #4D505B;
    font-family: 'Indie Flower', cursive;
    color: white;
}

#map, #nextAppoint {
    height: 70vh;
    text-align: center;
    padding: 5px;
}

#head {
    background-color: #CF4858;
    border: none;
    font-size:xx-large;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    color: black;
}

#button1, #button2 {
    background-color: #F4AC42;
    color: black;
    border: none;
    font-size:x-large;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

p {
    text-decoration: underline;
    font-size: x-large;
    color: white;
}
