/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2015, 5:00:11 PM
*/

html, body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.page {
    background-color: #4D505B;
    font-family: 'Open Sans', cursive;
    color: black;
}

#Welcome {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #CF4858;
}

#head {
    background-color: #CF4858;
    border: none;
    font-size:xx-large;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}


#map {
    max-width: 100%;
    min-width: 100%;
    height: 70vh;
    background-color: #E7E6E6;
    padding: 0;
    margin: 0;
}

#nextAppoint {
    height: 70vh;
    text-align: center;
    padding: 5px;
    background-color: #E7E6E6;
}

.button {
    margin-top: 1vh;
    padding: 10px;
    background-color: #F4AC42;
    border: none;
    font-size:x-large;
    text-align: center;
}

