/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2015, 5:00:11 PM
    Author     : Florian
*/

.page {
    background-color: #4D505B;
    font-family: 'Indie Flower', cursive;
}

#head {
    background-color: #CF4858;
    color: white;
    border: none;
    font-size:xx-large;
    text-align: center;
}

#button {
    background-color: #F4AC42;
    color: black;
    border: none;
    font-size:x-large;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-top: auto;
}



